body {
    background-color: #892828;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    margin-top: 100px;
}

h1 {
    color: #333;
}

p {
    font-size: 20px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}